@import './base.css';
@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

#app{
  background-color: #cccccc;
}

.wrapper{
  width: 100%;
  max-width: 600px;
  margin:0 auto;
  height: 100vh;
  background-color: white;
}

.NavContainer{
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavContainer .navigation{
  display: flex;
  gap: 20px;
  align-items: center;
}

.titleLogo{
  font-family: 'GumiRomanceTTF';
  color: lightseagreen;
}

.NavContainer .navigation nav ul{
  display: flex;
  gap: 16px;
}
.NavContainer .navigation nav ul li{
  color: #333333;
}

.nowMenu{
  color: lightseagreen !important;
  font-weight: bold;
  position: relative;
}
.nowMenu::after{
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: lightseagreen;
}

.userInfo{
  cursor: pointer;
}

.userMenu{
  display: flex;
  gap:16px;
  align-items: center;
}

.userIcon img{
  width: 50px;
  height:50px;
  border-radius: 50%;
}

.mainContainer{
  padding: 10px 40px;
  height: calc(100vh - 80px);
}

.myBoard{
  background-color: lightseagreen;
  padding: 40px;
  border-radius: 16px;
}
.myBoard input[type="checkbox"]{
  display: none;
  position: relative;
}
.myBoard input[type="checkbox"]+label{
  margin-left: 40px;
  font-family: 'GumiRomanceTTF';
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}
.myBoard input[type="checkbox"]+label::before{
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  background: white; 
}
.myBoard input[type="checkbox"]:checked+label{
  color: yellow;
}

.myBoard input[type="checkbox"]:checked+label::before{
  content: '🌸';
}

.friendBoard{
  margin-top: 40px;
}

.friendBoard .friendList{
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.friendBoard .friendList li{
  margin: 8px 0;
  display: flex;
  gap: 12px;
  align-items: center;
}